// Name:            NumberInput
// Description:     数字输入
// Author:          sensen(rainforest92@126.com)
// ========================================================================

@import "../../core/unit/numberInput.scss";

// Component:       `u-numberinput`
// ========================================================================

.u-numberinput {
    .u-btn {
        right: 2px;
        top: 2px;
        @include line-height(12px);
        padding: 0 4px;
    }

    .u-btn + .u-btn {
        top: auto;
        bottom: 2px;
    }
}