// Name:            Suggest
// Description:     自动提示
// Author:          sensen(rainforest92@126.com)
// ========================================================================

@import "../../core/unit/suggest.scss";

// Extends:
// ========================================================================

.u-suggest {
    .m-listview, .m-treeview {
        max-height: 200px;
    }
}

/* Disabled */
.u-suggest.z-dis {}