    </div>
</div>
<footer class="g-ft">
</footer>
<a href="#" class="m-gotop"></a>
<script src="<%= relativePath %>vendor/regular.min.js"></script>
<script src="<%= relativePath %>vendor/marked.min.js"></script>
<script src="<%= relativePath %>js/regular-ui.min.js"></script>
<script>
var _ = RGUI._;
var $$ = function(selector){return document.querySelectorAll(selector)};

var themeSelect = new RGUI.Select2({
    data: {
        source: themes,
        selected: selectedTheme,
        placeholder: null,
        'class': 'u-select2-nav'
    }
}).$inject('#j-themeSelect')
  .$on('select', function($event) {
    themeCSS.href = window.relativePath + 'css/doc.' + $event.selected.name + '.min.css';
    localStorage['selectedTheme'] = $event.selected.name;
});

// 生成tabs
(function() {
    var $examples = document.getElementsByClassName('m-example');

    for(var i = 0; i < $examples.length; i++) {
        var $example = $examples[i];
        if(!$example)
            break;

        var source = [];

        var $next = $example.nextElementSibling;
        while($next && $next.className.indexOf('m-example') < 0) { // $next.tagName[0] !== 'H' && 
            if($next.className === 'lang-xml' || $next.className === 'lang-rgl') {
                source.push({title: 'rgl', content: $next.outerHTML});
                $prev = $next;
                $next = $next.nextElementSibling;
                $prev.remove();
            } else if($next.className === 'lang-html') {
                source.push({title: 'html', content: $next.outerHTML});
                $prev = $next;
                $next = $next.nextElementSibling;
                $prev.remove();
            } else if($next.className === 'lang-javascript') {
                source.push({title: 'javascript', content: $next.outerHTML});
                $prev = $next;
                $next = $next.nextElementSibling;
                $prev.remove();
            } else
                $next = $next.nextElementSibling;
        }

        if(!source.length)
            continue;

        new RGUI.Component({
            template: RGUI._.multiline(function(){/*
<tabs>
    {#list source as item}
    <tab title={item.title}><div r-html={item.content}></div></tab>
    {/list}
</tabs>
            */}),
            data: {
                source: source
            }
        }).$inject($example, 'after');
    }
})();
</script>
<script>
<%- script %>
</script>
</body>
</html>