<div class="g-mn">
    <article class="m-article">
        <% if(current) { %>
        <h1><%= current.cnName %><small> <%= current.name %></small></h1>
        <% } %>
        <%- article %>
        <%- api %>
    </article>
</div>
