<div class="g-sd">
    <ul class="m-sidebar">
        <% var group; %>
        <% sidenavs.forEach(function(item) { %>
        <% if(item.hidden) return; %>
        <% if(item.group != group) {
            group = item.group; %>
        <li class="sidebar_group"><span><%= item.group %></span></li>
        <% } %>
        <li<% if(sidenav === item.lowerName) { %> class="z-crt"<% } %>><a href="<%= relativePath + item.path %>"><%= item.cnName %><small> <%= item.name %></small>
        <% if(item.complete === true) { %>
            <i class="u-icon u-icon-success-circle" title="功能和主题基本实现，文档比较完善"></i>
        <% } else if(item.complete === false) { %>
            <i class="u-icon u-icon-info-circle" title="功能部分实现，文档有待完善"></i>
        <% } %>
        </a></li>
        <% }); %>
    </ul>
</div>