<div class="g-sd">
    <ul class="m-sidebar">
        <% var group; %>
        <% sidenavs.forEach(function(item) { %>
        <% if(item.hidden) return; %>
        <% if(item.group != group) {
            group = item.group; %>
        <li class="sidebar_group"><span><%= item.group %></span></li>
        <% } %>
        <li<% if(sidenav === item.lowerName) { %> class="z-crt"<% } %>><a href="<%= relativePath + item.path %>"><%= item.cnName %><small> <%= item.name %></small>
        <% if(false) { %>
            <small><span class="u-badge u-badge-primary">BETA</span></small>
        <% } %>
        </a></li>
        <% }); %>
    </ul>
</div>