article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
	display:block;
}
audio,canvas,video{
	display:inline-block;
	*display:inline;
	*zoom:1;
}
audio:not([controls]){
	display:none;
	height:0;
}
[hidden]{
	display:none;
}
html{
	font-size:100%;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
html,button,input,select,textarea{
	font-family:sans-serif;
}
body{
	margin:0;
}
a:focus{
	outline:thin dotted;
}
a:active,a:hover{
	outline:0;
}
h1{
	font-size:2em;
	margin:0.67em 0;
}
h2{
	font-size:1.5em;
	margin:0.83em 0;
}
h3{
	font-size:1.17em;
	margin:1em 0;
}
h4{
	font-size:1em;
	margin:1.33em 0;
}
h5{
	font-size:0.83em;
	margin:1.67em 0;
}
h6{
	font-size:0.67em;
	margin:2.33em 0;
}
abbr[title]{
	border-bottom:1px dotted;
}
b,strong{
	font-weight:bold;
}
blockquote{
	margin:1em 40px;
}
dfn{
	font-style:italic;
}
hr{
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0;
}
mark{
	background:#ff0;
	color:#000;
}
p,pre{
	margin:1em 0;
}
code,kbd,pre,samp{
	font-family:monospace,serif;
	_font-family:"courier new",monospace;
	font-size:1em;
}
pre{
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
}
q{
	quotes:none;
}
q:before,q:after{
	content:"";
	content:none;
}
small{
	font-size:80%;
}
sub,sup{
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sup{
	top:-0.5em;
}
sub{
	bottom:-0.25em;
}
dl,menu,ol,ul{
	margin:1em 0;
}
dd{
	margin:0 0 0 40px;
}
menu,ol,ul{
	padding:0 0 0 40px;
}
nav ul,nav ol{
	list-style:none;
	list-style-image:none;
}
img{
	border:0;
	-ms-interpolation-mode:bicubic;
}
svg:not(:root){
	overflow:hidden;
}
figure{
	margin:0;
}
form{
	margin:0;
}
fieldset{
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:0.35em 0.625em 0.75em;
}
legend{
	border:0;
	padding:0;
	white-space:normal;
	*margin-left:-7px;
}
button,input,select,textarea{
	font-size:100%;
	margin:0;
	vertical-align:baseline;
	*vertical-align:middle;
}
button,input{
	line-height:normal;
}
button,select{
	text-transform:none;
}
button,html input[type="button"], input[type="reset"],input[type="submit"]{
	-webkit-appearance:button;
	cursor:pointer;
	*overflow:visible;
}
button[disabled],html input[disabled]{
	cursor:default;
}
input[type="checkbox"],input[type="radio"]{
	box-sizing:border-box;
	padding:0;
	*height:13px;
	*width:13px;
}
input[type="search"]{
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
	-webkit-appearance:none;
}
button::-moz-focus-inner,input::-moz-focus-inner{
	border:0;
	padding:0;
}
textarea{
	overflow:auto;
	vertical-align:top;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
.f-fl{
	float:left;
}
.f-fr{
	float:right;
}
body{
	font:14px/1.6 "Microsoft YaHei";
	background:#fff;
	color:#333;
}
a{
	text-decoration:none;
	cursor:pointer;
	color:#3498db;
}
*::selection,*::-moz-selection,*::-webkit-selection{
	color:#fff;
	background:#3498db;
}
.u-btn{
	-webkit-appearance:none;
	margin:0;
	border:none;
	overflow:visible;
	font:inherit;
	text-transform:none;
	text-decoration:none;
	cursor:pointer;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0 15px;
	line-height:30px;
	min-height:30px;
	background:#bdc3c7;
	color:#fff;
	border-radius:4px;
}
.u-btn:hover,.u-btn:focus{
	outline:none;
	text-decoration:none;
	background-color:#cacfd2;
	color:#fff;
}
.u-btn:active,.u-btn.z-act{
	background-color:#a1a6a9;
	color:rgba(255,255,255,0.75);
}
.u-btn-xs{
	padding:0 9px;
	line-height:25px;
	min-height:25px;
	font-size:12px;
}
.u-btn-sm{
	padding:0 13px;
	line-height:34px;
	min-height:34px;
	font-size:13px;
}
.u-btn-lg{
	padding:0 19px;
	line-height:45px;
	min-height:45px;
	font-size:17px;
}
.u-btn-xl{
	padding:0 20px;
	line-height:53px;
	min-height:53px;
	font-size:22px;
}
.u-btn-primary{
	background-color:#1abc9c;
}
.u-btn-primary:hover,.u-btn-primary:focus{
	background-color:#48c9b0;
}
.u-btn-primary:active,.u-btn-primary.z-act{
	background-color:#16a085;
}
.u-btn-info{
	background-color:#3498db;
}
.u-btn-info:hover,.u-btn-info:focus{
	background-color:#5dade2;
}
.u-btn-info:active,.u-btn-info.z-act{
	background-color:#2c81ba;
}
.u-btn-success{
	background-color:#2ecc71;
}
.u-btn-success:hover,.u-btn-success:focus{
	background-color:#58d68d;
}
.u-btn-success:active,.u-btn-success.z-act{
	background-color:#27ad60;
}
.u-btn-danger{
	background-color:#e74c3c;
}
.u-btn-danger:hover,.u-btn-danger:focus{
	background-color:#ec7063;
}
.u-btn-danger:active,.u-btn-danger.z-act{
	background-color:#c44133;
}
.u-btn-warning{
	background-color:#f1c40f;
}
.u-btn-warning:hover,.u-btn-warning:focus{
	background-color:#f4d03f;
}
.u-btn-warning:active,.u-btn-warning.z-act{
	background-color:#cda70d;
}
.u-btn-inverse{
	background-color:#34495e;
}
.u-btn-inverse:hover,.u-btn-inverse:focus{
	background-color:#5d6d7e;
}
.u-btn-inverse:active,.u-btn-inverse.z-act{
	background-color:#2c3e50;
}
.u-btn:disabled,.u-btn.z-dis{
	background-color:rgba(189,195,199,0.75);
	color:rgba(255,255,255,0.75);
	cursor:not-allowed;
}
.u-btn-block{
	display:block;
}
.u-btn{
	-webkit-font-smoothing:subpixel-antialiased;
	transition:border 0.25s linear,color 0.25s linear,background-color 0.25s linear;
}
.u-input,.u-select,.u-textarea{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	border:0;
	padding:0;
	border-radius:0;
	font:inherit;
	color:inherit;
	vertical-align:middle;
	padding:4px 6px;
	border:1px solid #ddd;
	color:#444;
	background:#fff;
}
.u-input::-webkit-input-placeholder,.u-select::-webkit-input-placeholder,.u-textarea::-webkit-input-placeholder{
	color:#999;
}
.u-input::-moz-placeholder,.u-select::-moz-placeholder,.u-textarea::-moz-placeholder{
	color:#999;
}
.u-input:-moz-placeholder,.u-select:-moz-placeholder,.u-textarea:-moz-placeholder{
	color:#999;
}
.u-input:-ms-placeholder,.u-select:-ms-placeholder,.u-textarea:-ms-placeholder{
	color:#999;
}
.u-input:focus,.u-select:focus,.u-textarea:focus{
	outline:0;
	border-color:#99baca;
	background:#f5fbfe;
	color:#444;
}
.u-input:disabled,.u-select:disabled,.u-textarea:disabled{
	border-color:#ddd;
	background-color:#f5f5f5;
	color:#999;
	cursor:not-allowed;
}
.u-input{
	height:30px;
}
.u-select{
	height:30px;
	min-width:120px;
	text-transform:none;
}
.u-select optgroup{
	font:inherit;
	font-weight:bold;
}
.u-textarea{
	vertical-align:top;
	min-width:320px;
	min-height:120px;
}
input.u-check,input.u-radio{
	cursor:pointer;
}
input.u-check:focus,input.u-radio:focus{
	outline:0;
}
input.u-check:disabled,input.u-radio:disabled{
	cursor:not-allowed;
}
.m-nav{
	background:#102e42;
	*zoom:1;
}
.m-nav:before,.m-nav:after{
	display:table;
	content:"";
	line-height:0;
}
.m-nav:after{
	clear:both;
}
.m-nav >ul{
	list-style:none;
	margin:0;
	padding:0;
}
.m-nav >ul >li{
	width:100px;
	float:left;
}
.m-nav >ul >li >a{
	display:block;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#fff;
	font-size:14px;
	transition:background 0.3s;
	text-decoration:none;
}
.m-nav >ul >li:hover >a{
	background:#344d5e;
}
.m-nav >ul >li.z-crt>a{
	background:#3498db;
}
.m-sidebar{
	list-style:none;
	padding:0;
}
.m-sidebar li a{
	display:block;
	text-decoration:none;
	padding:2px 12px;
	color:#555;
}
.m-sidebar li a small{
	font-size:60%;
	color:#999;
}
.m-sidebar li:hover{
	background:#e8e8e8;
}
.m-sidebar li.z-crt{
	background:#f0f0f0;
}
.u-selectex{
	display:inline-block;
	position:relative;
	vertical-align:middle;
	width:120px;
	color:#444;
}
.u-selectex .selectex-hd{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background:#fff;
	border:1px solid #ddd;
	cursor:pointer;
	height:30px;
	line-height:22px;
	padding:4px 6px;
}
.u-selectex .selectex-hd .f-icon{
	float:right;
}
.u-selectex .selectex-bd{
	position:absolute;
	top:30px;
	z-index:1;
	width:100%;
	margin-top:-1px;
}
.u-selectex.z-dis .selectex-hd{
	cursor:not-allowed;
	background-color:#f5f5f5;
	border-color:#ddd;
	color:#999;
}
.u-suggest{
	display:inline-block;
	position:relative;
	vertical-align:middle;
	width:120px;
	color:#444;
}
.u-suggest .suggest-hd,.u-suggest .suggest-bd{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background:#fff;
	border:1px solid #ddd;
}
.u-suggest .suggest-bd{
	position:absolute;
	top:30px;
	z-index:1;
	width:100%;
	margin-top:-1px;
}
.u-listbox{
	list-style:none;
	margin:0;
	padding:0;
	color:#444;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background:#fff;
	border:1px solid #ddd;
	overflow:hidden;
}
.u-listbox >li{
	cursor:pointer;
	padding:0 10px;
}
.u-listbox >li:hover{
	background-color:#eee;
	color:#444;
}
.u-listbox >li.z-sel{
	background-color:#6ebae8;
	color:#444;
}
.u-listbox.z-dis >li{
	cursor:not-allowed;
	background-color:#f5f5f5;
	color:#999;
}
.u-calendar{
	width:200px;
	color:#444;
	border:1px solid #ddd;
	background:#fff;
	padding:8px;
}
.u-calendar .calendar-hd .f-icon{
	cursor:pointer;
}
.u-calendar .calendar-hd .calendar-year{
	display:inline-block;
}
.u-calendar .calendar-hd .calendar-month{
	display:inline-block;
}
.u-calendar .calendar-hd .calendar-back{
	float:right;
}
.u-calendar .calendar-bd{
	text-align:center;
}
.u-calendar .calendar-bd .calendar-week{
	font-weight:bold;
}
.u-calendar .calendar-bd .calendar-week span{
	display:inline-block;
	width:14%;
}
.u-calendar .calendar-bd .calendar-day span{
	display:inline-block;
	width:14%;
	cursor:pointer;
}
.u-calendar .calendar-bd .calendar-day span.z-sel{
	background:#6ebae8;
}
.u-calendar .calendar-bd .calendar-day span.z-dis{
	color:#999;
	cursor:not-allowed;
}
.m-modal{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
	touch-action:cross-slide-y pinch-zoom double-tap-zoom;
	z-index:1000;
	background:rgba(0,0,0,0.6);
}
.m-modal .modal-dialog{
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:10% auto;
	width:360px;
	padding:20px;
	background:#fff;
}
.m-modal .modal-dialog .modal-hd .modal-title{
	margin:0;
}
.m-modal .modal-dialog .modal-hd .modal-close{
	float:right;
	text-decoration:none;
	margin:-6px -4px 0 0;
	line-height:20px;
	font-family:monospace;
	font-size:20px;
	vertical-align:middle;
	color:#bbb;
}
.m-modal .modal-dialog .modal-hd .modal-close:after{
	content:"×";
}
.m-modal .modal-dialog .modal-hd .modal-close:hover{
	color:#888;
}
.m-modal .modal-dialog .modal-bd{
	margin:20px 0;
	min-height:10px;
}
.m-modal .modal-dialog .modal-ft{
	text-align:center;
}
.m-modal .modal-dialog .modal-ft .u-btn{
	margin:0 2px;
}
@media (max-width: 767px){
	.m-modal .modal-dialog{
		width:auto;
		margin:10px;
	}
}
html.z-modal,html.z-modal body{
	overflow:hidden;
}
.m-logo{
	display:none;
}
.m-article{
	overflow:auto;
}
.m-article p{
	text-indent:2em;
}
.m-article li p{
	text-indent:0;
}
.m-article ul{
	padding-left:2em;
	margin:0.5em 0;
}
.m-article h3{
	font-size:16px;
	margin:1.5em 0 1em;
	color:#3498db;
}
.m-article h4{
	font-size:14px;
	margin:1.33em 0 0.5em;
	border-top:1px solid #ddd;
	padding-top:30px;
}
.m-article h4:before{
	content:"";
	border-left:3px solid #3498db;
	margin-right:8px;
}
.m-article h3 + h4{
	margin-top:-10px;
}
.m-article h5{
	font-size:14px;
	margin:1em 0 0.5em;
	text-indent:2em;
}
.m-article h6{
	font-size:12px;
	margin:0.3em 0;
}
.m-article p{
	margin:0.5em 0;
}
.m-article img{
	vertical-align:text-bottom;
}
.m-article code{
	font-size:12px;
	background:#f7f7f7;
	border-radius:3px;
	border:1px solid #e4e4e4;
	padding:0 3px;
	color:#e74c3c;
	margin:0 2px;
	font-family:"YaHei consolas Hybrid","Consolas";
}
.m-article pre{
	margin:0.5em 0;
	padding:6px 12px;
	background:#f7f7f7;
	border:1px solid #ddd;
	border-radius:3px;
	word-break:break-word;
}
.m-article pre code{
	background:none;
	border:none;
	color:#333;
	padding:0;
	margin:0;
}
.m-article pre.lang-console{
	background:#2e74ac;
	border:none;
}
.m-article pre.lang-console code{
	color:#fff;
}
.m-article key{
	background:#f7f7f7;
	padding:2px 3px;
	margin:0 3px;
	box-shadow:0 2px 2px #ccc;
	font-size:12px;
	color:#e74c3c;
}
.m-article hr{
	border:none;
	border-top:1px solid #ccc;
}
.m-article blockquote{
	margin:0.5em 0;
	padding:2px;
	font-size:12px;
	background:#f4f4f4;
	border-left:4px solid #ddd;
}
.m-article blockquote h6{
	margin:0.5em 0 0.3em;
	text-indent:2em;
	color:#e74c3c;
}
.m-article table{
	margin:0 auto;
	width:100%;
}
.m-article table th,.m-article table td{
	border:1px solid #ddd;
	padding:2px 4px;
	font-size:12px;
}
.g-top{
	height:50px;
	background:#102e42;
}
.g-topc{
	width:960px;
	margin:0 auto;
}
.g-hd{
	height:200px;
	background:#f4f4f4;
}
.g-hdc{
	width:960px;
	margin:0 auto;
}
.g-bd{
	margin-top:40px;
}
.g-bdc{
	width:960px;
	margin:0 auto;
}
.g-sd{
	width:229px;
	float:left;
	min-height:400px;
	border-right:1px solid #eee;
}
.g-mn{
	margin-left:40px;
	margin-bottom:60px;
	width:690px;
	float:right;
}
.g-ft{
	clear:both;
	height:200px;
	background:#102e42;
}
.cm-keyword{
	color:#37b44a;
}
.cm-atom{
	color:#d8542c;
}
.cm-number{
	color:#37b44a;
}
.cm-def{
	color:#292e33;
}
.cm-variable{
	color:#d8542c;
}
.cm-variable-2{
	color:#0e7bc9;
}
.cm-variable-3{
	color:#ef2540;
}
.cm-operator{
	color:#292e33;
}
.cm-comment{
	color:#8fa0b2;
}
.cm-string{
	color:#9351a0;
}
.cm-string-2{
	color:#3da0a4;
}
.cm-meta{
	color:#ef2540;
}
.cm-error{
	color:#ef2540;
}
.cm-qualifier{
	color:#0e7bc9;
}
.cm-builtin{
	color:#df9516;
}
.cm-bracket{
	color:#292e33;
}
.cm-tag{
	color:#0e7bc9;
}
.cm-tag.cm-bracket{
	color:#094f81;
}
.cm-attribute{
	color:#ef2540;
}
.cm-header{
	color:#ef2540;
}
.cm-quote{
	color:#0e7bc9;
}
.cm-hr{
	color:#d8542c;
}
.cm-link{
	color:#df9516;
}
.cm-strong{
	color:#37b44a;
}
.cm-em{
	color:#37b44a;
}
.cm-rangeinfo{
	color:#3da0a4;
}
.cm-minus{
	color:#ef2540;
}
.cm-plus{
	color:#37b44a;
}
.cm-property{
	color:#df9516;
}