body{
	font:14px/1.6 "Microsoft YaHei";
	background:#f0f0f0;
	color:#333;
	margin-bottom:100px;
}
a{
	text-decoration:none;
	cursor:pointer;
	color:#3498db;
}
a:hover{
	text-decoration:underline;
}
h3{
	font-size:16px;
	margin:1.5em 0 1em;
	color:#3498db;
}
h4{
	font-size:14px;
	margin:1em 0 0.5em;
}
h5{
	font-size:14px;
	margin:1em 0 0.5em;
	text-indent:2em;
}
h6{
	font-size:12px;
	margin:0.3em 0;
}
p{
	margin:0.5em 0;
}
pre{
	margin:0.5em 0;
}
img{
	vertical-align:text-bottom;
}
ul{
	padding-left:2em;
	margin:0.5em 0;
}
*::selection{
	color:#fff;
	background:#3498db;
}
*::-moz-selection{
	color:#fff;
	background:#3498db;
}
*::-webkit-selection{
	color:#fff;
	background:#3498db;
}
.z-show{
	display:block;
}
.z-hide{
	display:none;
}
.g-top{
	height:36px;
	background:#282828;
}
.g-topc{
	width:960px;
	margin:0 auto;
}
.g-hdc{
	width:960px;
	margin:0 auto;
}
.g-bdc{
	width:960px;
	margin:0 auto;
}
.g-sd{
	width:200px;
	float:left;
	background:#f7f7f7;
	min-height:400px;
	padding:20px;
}
.g-mn{
	width:710px;
	float:right;
}
.m-logo{
	float:left;
	margin:0;
}
.m-nav{
	float:right;
}
.m-nav ul{
	list-style:none;
	margin:0;
	padding:0;
	background:#282828;
}
.m-nav li>a{
	display:block;
	height:36px;
	line-height:36px;
	text-align:center;
	color:#fff;
	font-size:14px;
	transition:background 0.3s;
}
.m-nav li:hover>a{
	background:#444;
	text-decoration:none;
}
.m-nav li.z-crt>a{
	background:#3498db;
}
.m-nav>ul>li{
	position:relative;
	float:left;
	width:50px;
}
.m-nav>ul>li>ul{
	display:none;
	position:absolute;
	z-index:1;
	width:90px;
}
.m-nav>ul>li:hover>ul{
	display:block;
}
.m-article{
	margin:25px 0;
	padding:40px 30px;
	background:#fff;
}
.m-article h1.title{
	text-align:center;
	font-size:18px;
	margin:30px 0;
}
.m-article .pictures img.release{
	display:block;
	width:100%;
	margin:8px 0;
}
.m-article .content{
	line-height:1.6;
	margin:30px 0;
	overflow:auto;
}
.m-article .content p{
	text-indent:2em;
}
.m-article .content li p{
	text-indent:0;
}
.m-article .content code{
	font-size:12px;
	background:#f7f7f7;
	border-radius:3px;
	border:1px solid #e4e4e4;
	padding:0 3px;
	color:#e74c3c;
	margin:0 2px;
	font-family:"YaHei consolas Hybrid","Consolas";
}
.m-article .content pre{
	padding:6px 12px;
	background:#f7f7f7;
	border:1px solid #ddd;
	border-radius:3px;
	word-break:break-word;
}
.m-article .content pre code{
	background:none;
	border:none;
	color:#333;
	padding:0;
	margin:0;
}
.m-article .content pre.lang-console{
	background:#2e74ac;
	border:none;
}
.m-article .content pre.lang-console code{
	color:#fff;
}
.m-article .content key{
	background:#f7f7f7;
	padding:2px 3px;
	margin:0 3px;
	box-shadow:0 2px 2px #ccc;
	font-size:12px;
	color:#e74c3c;
}
.m-article .content hr{
	border:none;
	border-top:1px solid #ccc;
}
.m-article .content blockquote{
	margin:0.5em 0;
	padding:2px;
	font-size:12px;
	background:#f4f4f4;
	border-left:4px solid #ddd;
}
.m-article .content blockquote h6{
	margin:0.5em 0 0.3em;
	text-indent:2em;
	color:#e74c3c;
}
.m-article .content img.lazyload{
	display:block;
	margin:0 auto;
	max-width:100%;
	border:1px solid #ddd;
	border-radius:3px;
}
.m-article .content img.release{
	width:100%;
	border:none;
	border-radius:0;
}
.m-article .content table{
	margin:0 auto;
}
.m-article .content table th,.m-article .content table td{
	border:1px solid #ddd;
	padding:2px 4px;
	font-size:12px;
}
.m-article .references{
	margin:0;
	padding:6px 30px;
	border-top:1px dashed #ccc;
	line-height:18px;
	font-size:12px;
	list-style-type:square;
}
.m-article .references:before{
	content:"参考";
	margin:0.3em 0;
	font-weight:bold;
}
.m-article .tags{
	padding:6px 0;
	border-top:1px dashed #ccc;
	line-height:18px;
	font-size:12px;
	color:#999;
}
.m-article .tags span{
	margin-right:6px;
}
.m-article-item{
	padding:20px 30px;
}
.m-article-item h2.title{
	font-size:16px;
	margin:0.8em 0 0.6em;
}
.m-article-item .content{
	margin:0;
}
.m-article-item .content:after{
	display:block;
	content:"……";
	text-align:center;
	margin:1em 0 2em;
}
.m-article-item .content h3{
	margin:0.5em 0 0.3em;
	font-size:14px;
	color:inherit;
	text-indent:2em;
}
.m-article-item .content h4{
	display:inline;
	font-weight:normal;
	margin-left:2em;
}
.m-article-item .content h4 + h4{
	margin:0;
}
.m-article-item .content h4 + h4:before{
	content:"，";
}
.m-gotop.z-show{
	opacity:1;
}
.m-gotop:hover{
	background-position:-50px 0;
}
@media screen and (max-width: 959px){
	.g-topc{
		width:auto;
	}
	.g-bdc{
		width:auto;
	}
	.m-article{
		margin:25px 15px;
	}
}
@media screen and (max-width: 639px){
	.m-logo{
		float:none;
		width:200px;
		padding-left:36px;
		margin:0 auto;
	}
	.m-nav{
		display:none;
	}
	.m-article{
		margin:10px;
	}
	.m-article .content{
		padding:20px;
	}
	.m-article .references{
		margin:0 20px 30px;
	}
}
.u-btn{
	-webkit-appearance:none;
	margin:0;
	border:none;
	overflow:visible;
	font:inherit;
	text-transform:none;
	text-decoration:none;
	cursor:pointer;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0 15px;
	line-height:30px;
	min-height:30px;
	background:#bdc3c7;
	color:#fff;
	border-radius:4px;
}
.u-btn:hover,.u-btn:focus{
	outline:none;
	text-decoration:none;
	background-color:#cacfd2;
	color:#fff;
}
.u-btn:active,.u-btn.z-act{
	background-color:#a1a6a9;
	color:rgba(255,255,255,0.75);
}
.u-btn-xs{
	padding:0 9px;
	line-height:25px;
	min-height:25px;
	font-size:12px;
}
.u-btn-sm{
	padding:0 13px;
	line-height:34px;
	min-height:34px;
	font-size:13px;
}
.u-btn-lg{
	padding:0 19px;
	line-height:45px;
	min-height:45px;
	font-size:17px;
}
.u-btn-xl{
	padding:0 20px;
	line-height:53px;
	min-height:53px;
	font-size:22px;
}
.u-btn-primary{
	background-color:#1abc9c;
}
.u-btn-primary:hover,.u-btn-primary:focus{
	background-color:#48c9b0;
}
.u-btn-primary:active,.u-btn-primary.z-act{
	background-color:#16a085;
}
.u-btn-info{
	background-color:#3498db;
}
.u-btn-info:hover,.u-btn-info:focus{
	background-color:#5dade2;
}
.u-btn-info:active,.u-btn-info.z-act{
	background-color:#2c81ba;
}
.u-btn-success{
	background-color:#2ecc71;
}
.u-btn-success:hover,.u-btn-success:focus{
	background-color:#58d68d;
}
.u-btn-success:active,.u-btn-success.z-act{
	background-color:#27ad60;
}
.u-btn-danger{
	background-color:#e74c3c;
}
.u-btn-danger:hover,.u-btn-danger:focus{
	background-color:#ec7063;
}
.u-btn-danger:active,.u-btn-danger.z-act{
	background-color:#c44133;
}
.u-btn-warning{
	background-color:#f1c40f;
}
.u-btn-warning:hover,.u-btn-warning:focus{
	background-color:#f4d03f;
}
.u-btn-warning:active,.u-btn-warning.z-act{
	background-color:#cda70d;
}
.u-btn-inverse{
	background-color:#34495e;
}
.u-btn-inverse:hover,.u-btn-inverse:focus{
	background-color:#5d6d7e;
}
.u-btn-inverse:active,.u-btn-inverse.z-act{
	background-color:#2c3e50;
}
.u-btn:disabled,.u-btn.z-dis{
	background-color:rgba(189,195,199,0.75);
	color:rgba(255,255,255,0.75);
	cursor:not-allowed;
}
.u-btn-block{
	display:block;
}
.u-btn{
	-webkit-font-smoothing:subpixel-antialiased;
	transition:border 0.25s linear,color 0.25s linear,background-color 0.25s linear;
}
.u-input,.u-select,.u-textarea{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	border:0;
	padding:0;
	border-radius:0;
	font:inherit;
	color:inherit;
	vertical-align:middle;
	padding:4px 6px;
	border:1px solid #ddd;
	color:#444;
	background:#fff;
}
.u-input::-webkit-input-placeholder,.u-select::-webkit-input-placeholder,.u-textarea::-webkit-input-placeholder{
	color:#999;
}
.u-input::-moz-placeholder,.u-select::-moz-placeholder,.u-textarea::-moz-placeholder{
	color:#999;
}
.u-input:-moz-placeholder,.u-select:-moz-placeholder,.u-textarea:-moz-placeholder{
	color:#999;
}
.u-input:-ms-placeholder,.u-select:-ms-placeholder,.u-textarea:-ms-placeholder{
	color:#999;
}
.u-input:focus,.u-select:focus,.u-textarea:focus{
	outline:0;
	border-color:#99baca;
	background:#f5fbfe;
	color:#444;
}
.u-input:disabled,.u-select:disabled,.u-textarea:disabled{
	border-color:#ddd;
	background-color:#f5f5f5;
	color:#999;
	cursor:not-allowed;
}
.u-input{
	height:30px;
}
.u-select{
	height:30px;
	min-width:120px;
	text-transform:none;
}
.u-select optgroup{
	font:inherit;
	font-weight:bold;
}
.u-textarea{
	vertical-align:top;
	min-width:320px;
	min-height:120px;
}
input.u-check,input.u-radio{
	cursor:pointer;
}
input.u-check:focus,input.u-radio:focus{
	outline:0;
}
input.u-check:disabled,input.u-radio:disabled{
	cursor:not-allowed;
}
.u-selectex{
	display:inline-block;
	position:relative;
	vertical-align:middle;
	min-width:120px;
	color:#444;
}
.u-selectex .selectex-hd,.u-selectex .selectex-bd{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background:#fff;
	border:1px solid #ddd;
}
.u-selectex .selectex-hd{
	cursor:pointer;
	height:30px;
	padding:4px 6px;
}
.u-selectex .selectex-hd:after{
	content:" ";
	display:block;
	float:right;
	border-width:6px 4px 0 4px;
	border-color:#444 transparent;
	border-style:solid;
	margin-top:7px;
}
.u-selectex .selectex-bd{
	position:absolute;
	top:30px;
	z-index:1;
	width:100%;
	margin-top:-1px;
}
.u-selectex .selectex-option{
	cursor:pointer;
	padding:0 10px;
}
.u-selectex .selectex-option:hover{
	background-color:#eee;
	color:#444;
}
.u-selectex.z-dis{
	color:#999;
}
.u-selectex.z-dis .selectex-hd{
	cursor:not-allowed;
	background-color:#f5f5f5;
	border-color:#ddd;
}
.m-modal{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
	touch-action:cross-slide-y pinch-zoom double-tap-zoom;
	z-index:1000;
	background:rgba(0,0,0,0.6);
}
.m-modal .modal-dialog{
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:10% auto;
	width:360px;
	padding:20px;
	background:#fff;
}
.m-modal .modal-dialog .modal-hd .modal-title{
	margin:0;
}
.m-modal .modal-dialog .modal-hd .modal-close{
	float:right;
	text-decoration:none;
	margin:-6px -4px 0 0;
	line-height:20px;
	font-family:monospace;
	font-size:20px;
	vertical-align:middle;
	color:#bbb;
}
.m-modal .modal-dialog .modal-hd .modal-close:after{
	content:"×";
}
.m-modal .modal-dialog .modal-hd .modal-close:hover{
	color:#888;
}
.m-modal .modal-dialog .modal-bd{
	margin:20px 0;
	min-height:10px;
}
.m-modal .modal-dialog .modal-ft{
	text-align:center;
}
.m-modal .modal-dialog .modal-ft .u-btn{
	margin:0 2px;
}
@media (max-width: 767px){
	.m-modal .modal-dialog{
		width:auto;
		margin:10px;
	}
}
html.z-modal,html.z-modal body{
	overflow:hidden;
}