// Name:            Calendar
// Description:     日历
// Author:          sensen(rainforest92@126.com)
// ========================================================================



// Component:       `u-calendar`
// ========================================================================

.u-calendar {
    text-align: center;
    @include user-select(none);

    .calendar_item {
        display: inline-block;
        cursor: pointer;
    }

    .calendar_item:hover {}

    .calendar_item.z-sel {}

    .calendar_item.z-muted {}

    .calendar_item.z-dis {
        cursor: not-allowed;
    }

    .calendar_hd {
        @include clearfix();

        .calendar_prev {
            float: left;
        }

        .calendar_next {
            float: right;
        }
    }

    .calendar_bd {
        clear: both;
        
        .calendar_week .calendar_item {
            font-weight: bold;
            cursor: default;
        }
    }
}

/* Disabled */
.u-calendar.z-dis {
    .calendar_item {
        cursor: not-allowed;
    }
}
