// Name:            ListBox
// Description:     列表框
// Author:          sensen(rainforest92@126.com)
// ========================================================================



// Component:       `m-listview`
// ========================================================================

.m-listview {
    @extend .f-lsn;
    @include box-sizing(border-box);
    @include user-select(none);

    > li {
        @extend .f-toe;
        cursor: pointer;
    }

    > li:hover {}

    > li.z-sel {}

    > li.z-dis {
        cursor: not-allowed;
        background: none;
    }
}

.m-listview.z-dis {
    > li {
        cursor: not-allowed;
        background: none;
    }
}