// Name:            Pager
// Description:     分页
// Author:          sensen(rainforest92@126.com)
// ========================================================================



// Component:       `m-pager`
// ========================================================================

.m-pager {
    // - Center pager by default
    text-align: center;
    // - Remove default list style
    @extend .f-lsn;
    @extend .f-lsi;
    @include user-select(none);

    @extend .f-wsn;

    > li {
        display: inline-block;
        text-align: center;

        > a, > span {
            display: inline-block;
            // @include box-sizing(border-box);
            text-decoration: none;
        }

        > a:hover, > a:focus {}

        > a:active {}
    }

    >li.z-crt > a {}

    >li.z-dis > a {
        cursor: not-allowed;
    }

    > li + li {}
}

/* Disabled */
.m-pager.z-dis {
    > li {
        > a {
            cursor: not-allowed;
        }
    }
}



// Position Extend:
// Description:     位置扩展
// ========================================================================

.m-pager-left {
    text-align: left;
}

.m-pager-right {
    text-align: right;
}