// Name:            Tabs
// Description:     选项卡
// Author:          sensen(rainforest92@126.com)
// ========================================================================



// Component:       `m-tab`
// ========================================================================

.m-tabs {
    .tabs_hd {
        @extend .f-lsn;

        > li {
            float: left;
            cursor: pointer;
        }

        > li + li {}

        > li.z-crt {
            position: relative;
        }

        > li.z-dis {
            cursor: not-allowed;
        }
    }

    .tabs_bd {
        clear: both;
    }
}

/* Disabled */
.m-tabs.z-dis {
    .tabs_hd {
        > li {
            cursor: not-allowed;
        }

        > li.z-crt {
            cursor: default;
        }
    }
}