// Name:            Form
// Description:     表单
// Author:          sensen(rainforest92@126.com)
// ========================================================================



// Component:       `u-formitem`
// ========================================================================

.u-formitem {
    display: inline-block;
    

    .formitem_tt {
        font-weight: bold;
    }

    .formitem_tip {}
}

.u-formitem-block {
    display: block;

    .formitem_tt {
        display: block;
        float: left;
        text-align: right;
        font-weight: bold;
    }

    .formitem_ct {
        display: block; 
    }
}