// Name:            Input2
// Description:     输入扩展
// Author:          sensen(rainforest92@126.com)
// ========================================================================



// Component:       `u-input2`
// ========================================================================

.u-input2 {
    position: relative;

    .input2_unit {
        position: absolute;
        top: - $formctrl_border-width-base;
        right: nth($formctrl_padding, 1 + 1) + $formctrl_border-width-base;
    }
}