// Name:            Radio2
// Description:     单选按钮
// Author:          sensen(rainforest92@126.com)
// ========================================================================



// Component:       `u-radio2`
// ========================================================================

.u-radio2 {
    cursor: pointer;
    @include user-select(none);

    .radio2_box {
        display: inline-block;
        position: relative;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        margin-bottom: 2px;

        .u-icon {
            content: '';
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
}

/* Selected */
.u-radio2.z-sel {
    .radio2_box {
        .u-icon {
            display: inline-block;
        }
    }
}

/* Disabled */
.u-radio2.z-dis {
    cursor: not-allowed;

    .radio2_box {}
}



// Extends:         `u-radio2-block`
// ========================================================================

.u-radio2-block {
    display: block;
}