// Name:            Radio2
// Description:     单选按钮
// Author:          sensen(rainforest92@126.com)
// ========================================================================



@import "../../core/unit/radio2.scss";



// Variables
// ========================================================================

$u-radio2_box_size: 12px;
$u-radio2_u-icon_font-size: 6px;



// Component:       `u-radio2`
// ========================================================================

.u-radio2 {
    @include transition(color .25s linear);

    .radio2_box {
        @include size($u-radio2_box_size);
        line-height: $u-radio2_box_size;
        background: white;
        color: $brand-secondary;
        border: 4px solid #d7dce0;
        border-radius: $u-radio2_box_size;
        @include transition(background .25s linear, color .25s linear, border .25s linear);

        .u-icon {
            margin-top: - $u-radio2_u-icon_font-size / 2;
            margin-left: - $u-radio2_u-icon_font-size / 2;
            width: $u-radio2_u-icon_font-size;
            height: $u-radio2_u-icon_font-size;
            border-radius: $u-radio2_u-icon_font-size;
            background: $brand-secondary;
        }
    }
}

/* Selected */
.u-radio2.z-sel {
    .radio2_box {
        border-color: $brand-secondary;
    }
}

/* Disabled */
.u-radio2.z-dis {
    color: mix($gray-light, white, 38%);

    .radio2_box {
        background: white;
        color: #999;
        border-color: #d7dce0;
    }
}