// Name:            Badge
// Description:     徽章
// Author:          sensen(rainforest92@126.com)
// ========================================================================

@import "../../core/unit/badge.scss";

// Component:       `u-badge`
// ========================================================================

.u-badge {
    padding: 0 5px;
    line-height: 14px;
    font-size: 12px;
    background: #aaa; // background: #00a8e6;
    color: white;
}

/* Hover */
a.u-badge:hover {
    color: white;
}



// Color Extends:
// ========================================================================

@include u-badge-extend_color(info, $brand-info);
@include u-badge-extend_color(success, $brand-success);
@include u-badge-extend_color(warning, $brand-warning);
@include u-badge-extend_color(error, $brand-error);