// Name:            FormCtrl
// Description:     基础
// Author:          sensen(rainforest92@126.com)
// ========================================================================

@import "../../core/unit/formCtrl.scss";

// Component:       `u-input`, `u-select`, `u-textarea`
// ========================================================================

// 一般认为input和textarea的样式是差不多的。
// u-input用于input:not([type="radio"]), input:not([type="checkbox"])

.u-input,
.u-select,
.u-textarea {
    &::placeholder {
        color: $formctrl_placeholder_color;
        // - Removes placeholder transparency in Firefox.
        opacity: 1;
    }

    // - Responsiveness: Sets a maximum width relative to the parent to scale on narrower viewports.
    // max-width: 100%;
    padding: $formctrl_padding;
    @include border($formctrl_border);
    color: $formctrl_color;
    background: $formctrl_background;
    
    // -webkit-transition: all linear 0.2s;
    // transition: all linear 0.2s;

    &:focus {
        background: $formctrl-focus_background;
        color: $formctrl-focus_color;
    }

    &:disabled {
        @include border($formctrl-disabled_border);
        background: $formctrl-disabled_background;
        color: $formctrl-disabled_color;

        // &::placeholder {
        //     color:$formctrl-disabled_color;
        // }
    }
}

.u-input {
    height: $formctrl_height;
}

.u-select {
    height: $formctrl_height;
    min-width: $formctrl_min-width;
}

.u-textarea {
    min-width: 320px;
    min-height: 120px;
}



// Size Extends:
// ========================================================================

@include formctrl-extend_size(sm, $formctrl-sm_padding, $formctrl-sm_height, $formctrl-sm_font-size);
@include formctrl-extend_size(lg, $formctrl-lg_padding, $formctrl-lg_height, $formctrl-lg_font-size);

@include formctrl-extend_width(xs, 40px);
@include formctrl-extend_width(sm, 100px);
@include formctrl-extend_width(lg, 200px);
@include formctrl-extend_width(xl, 500px);



// Color Extends:
// ========================================================================

@include formctrl-extend_color(success, #fafff2, #659f13, #8ec73b);
@include formctrl-extend_color(error, #fff7f8, #d85030, #dc8d99);



// Blank Form:
.u-input.u-input-blank,
.u-select.u-select-blank,
.u-textarea.u-textarea-blank {
    border-color: transparent;
    border-style: dashed;
    background: none;

    &:focus {
        border-color: #ddd;
    }
}