// Name:            Thumbnail
// Description:     缩略图
// Author:          sensen(rainforest92@126.com)
// ========================================================================

@import "../../core/unit/thumbnail.scss";

// Component:       `u-badge`
// ========================================================================

.u-thumbnail {
    padding: 4px;
    @include border(#ddd);
    background: #fff;


    .thumbnail_caption {
        margin-top: 4px;
        color: #444;
    }
}

/* Hover */
a.u-thumbnail:hover,
a.u-thumbnail:focus {
    border-color: #aaa;
    background: #fff;
}



// Size Extends:
// ========================================================================

@include u-thumbnail-extend_size(xs, 150px);
@include u-thumbnail-extend_size(sm, 200px);
@include u-thumbnail-extend_size(lg, 300px);
@include u-thumbnail-extend_size(xl, 400px);