// Name:            Article
// Description:     文章
// Author:          sensen(rainforest92@126.com)
// ========================================================================

@import "../../core/module/article.scss";

// Component:       `m-article`
// ========================================================================

.m-article {
    .article_title {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }

    .article_meta {
        font-size: 12px;
        line-height: 18px;
        color: #999;
        text-align: center;
    }
}