// Name:            Effect
// Description:     效果
// Author:          sensen(rainforest92@126.com)
// ========================================================================



// Effects:
// ========================================================================

// .slideInY {
//     transition: max-height 0.5s, padding 0.5s;
//     padding: 0;
//     max-height: 10000px;
//     overflow: hidden;
// }

// @include -generate(slideInX, ($prefix){
//   0% {height: 0;}
//   100% {height: 50px; }
// });
// @include -generate(slideInY, ($prefix){
//   0% {height: 0;}
//   100% {height: 50px; }
// });

// @include -generate(slideOutX, ($prefix){
//   0% {height: 50px;}
//   100% {height: 0;}
// });

// @include -generate(slideOutY, ($prefix){
//   0% {height: 50px;}
//   100% {height: 0;}
// });

.animated {}