// Name:            GridView
// Description:     网格视图
// Author:          sensen(rainforest92@126.com)
// ========================================================================

@import "../../core/module/gridView.scss";

// Component:       `m-gridview`
// ========================================================================

.m-gridview {
    background: $formctrl_background;
    color: $formctrl_color;

    .gridview_item {
        margin: 4px;
        padding: 6px;
        width: 30%;
        @include border(#ccc);
    }
}