// Name:            List
// Description:     列表
// Author:          sensen(rainforest92@126.com)
// ========================================================================

@import "../../core/module/list.scss";

// Component:       `m-list`
// ========================================================================

.m-list {
    ul {
        padding-left: 20px;
    }
}

.m-list-line {
    li {
        padding: 4px 8px;
    }

    li + li {
        border-top: 1px solid #ddd;
    }
}



// Extends:         `m-list-striped`, `m-list-hover`
// Description:     尺寸和颜色扩展函数
// ========================================================================
// 
.m-list-striped {
    li:nth-of-type(odd) {background: #f5f5f5;}
}

.m-list-hover {
    li:hover {background: #eee;}
}