// Name:            TreeView
// Description:     树型视图
// Author:          sensen(rainforest92@126.com)
// ========================================================================

@import "../../core/module/treeView.scss";

// Component:       `m-treeview`
// ========================================================================

.m-treeview {
    background: $formctrl_background;
    color: $formctrl_color;
    @include border($formctrl_border);

    .treeview_itemname {
        padding: 0 4px;
    }

    .treeview_itemname:hover {
        background: $formctrl_item-hover_background;
        color: $formctrl_item-hover_color;
    }

    .treeview_itemname.z-sel {
        background: $formctrl_item-selected_background;
        color: $formctrl_item-selected_color;
    }

    .treeview_itemname.z-dis {
        background: none;
        color: $formctrl-disabled_color;
    }
}

.m-treeview.z-dis {
    background: $formctrl-disabled_background;
    
    .treeview_itemname {
        background: none;
        color: $formctrl-disabled_color;
    }
}