<div class="g-bd">
    <header class="m-header">
        <img class="header_logo" src="img/logo-v1.0-256.png" />
        <h1>Regular UI<sup>v0.1</sup></h1>
        <h2>一款基于RegularJS的前端组件库</h2>
        <p>
            <a class="u-btn u-btn-primary u-btn-lg" href="start/quickstart.html">快速开始</a>
            <a class="u-btn u-btn-lg" target="_blank" href="https://github.com/regular-ui/regular-ui-bower/releases/latest">下载最新版</a>
        </p>
        <p></p>
    </header>
    <div class="g-bdc g-bdc-index">
        <div class="m-part">
            <h2><i class="u-icon u-icon-gg"></i> 组件化</h2>
            <p>Regular UI包含20多个CSS组件和30多个JS组件，可以快速构建内容丰富、功能复杂的页面，大幅提升开发效率。</p>
        </div>
        <div class="m-part">
            <h2><i class="u-icon u-icon-tablet"></i> 响应式</h2>
            <p>此处正在装逼。。。</p>
        </div>
        <div class="m-part">
            <h2><i class="u-icon u-icon-magic"></i> 可定制</h2>
            <p>组件中可以定制需要的模板，方便扩展；打包时可以选择需要的组件，减小Regular UI文件的体积；还可以根据主题内核，轻松定制自己喜欢的主题样式。</p>
        </div>
        <div class="m-part">
            <h2><i class="u-icon u-icon"></i> ES6</h2>
            <p>此处正在装逼。。。</p>
        </div>
        <div class="m-part">
            <h2><i class="u-icon u-icon"></i> RegularJS</h2>
            <p>RegularJS是一款轻便的基于动态模板实现的用于构建数据驱动型组件的新一代类库。Regular UI的JS文件只依赖RegularJS。</p>
        </div>
        <div class="m-part">
            <h2><i class="u-icon u-icon"></i> SASS</h2>
            <p>此处正在装逼。。。</p>
        </div>
    </div>
</div>
<div class="g-bd g-bd-dark">
    <div class="g-bdc">
        <!--div class="m-part">
            <h2><i class="u-icon u-icon-gg"></i> 组件化</h2>
            <p>Regular UI包含20多个CSS组件和30多个JS组件，可以快速构建内容丰富、功能复杂的页面，大幅提升开发效率。</p>
        </div>
        <div class="m-part">
            <h2><i class="u-icon u-icon-gg"></i> 响应式</h2>
            <p>此处正在装逼。。。</p>
        </div>
        <div class="m-part">
            <h2><i class="u-icon u-icon-gg"></i> 可定制</h2>
            <p>组件中可以定制自己需要的模板，方便扩展；打包时可以选择自己需要的组件，减小Regular UI文件的体积；还可以根据主题内核，轻松定制自己喜欢的主题样式。</p>
        </div-->
    </div>
</div>