// Name:            Comment
// Description:     评论
// Author:          sensen(rainforest92@126.com)
// ========================================================================

@import "../../core/module/comment.scss";

// Component:       `m-comment`
// ========================================================================

.m-comment {
    .comment_sd {
        float: left;

        > img {
            width: 64px;  
        }
    }

    .comment_mn {
        margin-left: 72px;

        .comment_ft {
            font-size: 12px;
            color: #777;

            .comment_actions {
                float: right;
            }
        }
    }
}