// Name:            Panel
// Description:     面板
// Author:          sensen(rainforest92@126.com)
// ========================================================================

@import "../../core/module/panel.scss";

// Component:       `m-panel`
// ========================================================================

.m-panel {
    // margin-bottom: 20px;
    background: white;
    @include border(2px solid #ddd);
    @include border-radius($border-radius-lg);

    .panel_hd {
        padding: 10px 15px;
        background: #f5f5f5;
        color: $gray-dark;
        border-bottom: 2px solid #ddd;
        // @include border-radius($border-radius-lg - 2px, top);
    }

    .panel_bd {
        padding: 15px;
    }

    .panel_ft {
        padding: 10px 15px;
        background: #f5f5f5;
        color: $gray-dark;
        border-top: 2px solid #ddd;
        // @include border-radius($border-radius-lg - 2px, bottom);
    }
}



// Color Extends:
// ========================================================================

@include m-panel-extend_color(primary, $brand-secondary, #fff, $brand-secondary);
@include m-panel-extend_color(info, $brand-info, #fff, $brand-info);
@include m-panel-extend_color(success, $brand-success, #fff, $brand-success);
@include m-panel-extend_color(warning, $brand-warning, #fff, $brand-warning);
@include m-panel-extend_color(error, $brand-error, #fff, $brand-error);

