// Name:            Table
// Description:     表格
// Author:          sensen(rainforest92@126.com)
// ========================================================================

@import "../../core/module/table.scss";

// Component:       `m-table`
// ========================================================================

.m-table {
    caption {
        padding: 8px 0;
        color: $gray-light;
        text-align: left;
    }

    th {
        text-align: left;
    }

    th, td {
        padding: 8px;
        border-top: 1px solid #ddd;
    }

    thead th {
        border-top: none;
        border-bottom: 2px solid #ddd;
    }
}



// Extends:         `m-table-striped`, `m-table-hover`
// Description:     尺寸和颜色扩展函数
// ========================================================================
// 
.m-table-striped {
    tbody tr:nth-of-type(odd) {background: #f9f9f9;}
}

.m-table-hover {
    tbody tr:hover {background: #f5f5f5;}
}



// Color Extends:
// ========================================================================

// @mixin m-table_tr-extend_color($name, $background) {

// .m-table_tr-#{$name} {
//     background: $background;
// }

// }