// Name:            Tabs
// Description:     选项卡
// Author:          sensen(rainforest92@126.com)
// ========================================================================

@import "../../core/module/tabs.scss";

// Variables:
// ========================================================================

$m-tabs_hd_li_border-width: 1px;
$m-tabs_hd_li_margin: 2px;
$m-tabs_hd_li_padding-horizontal: 25px;
$m-tabs_hd_li-hover_background: mix($brand-primary, white, 10%);
$m-tabs-vertical_hd_li_width: 120px;



// Component:       `m-tab`
// ========================================================================

.m-tabs {
    .tabs_hd {
        > li {
            padding: 0 $m-tabs_hd_li_padding-horizontal;
            @include line-height(42px);
            border: $m-tabs_hd_li_border-width solid transparent;
            font-weight: bold;
            border-bottom-width: 0;
            color: $brand-secondary;
            margin-bottom: -$m-tabs_hd_li_border-width;
            @include border-radius($border-radius-base $border-radius-base 0 0);
        }

        > li + li {
            margin-left: $m-tabs_hd_li_margin;
        }
        
        > li:hover,    // - Apply hover style also to focus state
        > li:focus {
            background: $m-tabs_hd_li-hover_background;
            color: darken($brand-secondary,10%);
            border-color: $m-tabs_hd_li-hover_background;
        }

        > li.z-crt {
            background: white;
            color: #444;
            border-color: #ddd;
            padding-bottom: $m-tabs_hd_li_border-width;
        }

        > li.z-dis {
            color: #999;
            background: none;
            border-color: transparent;
        }
    }

    .tabs_bd {
        border: $m-tabs_hd_li_border-width solid #ddd;
        padding: 20px;
        @include border-radius(0 0 $border-radius-base $border-radius-base);
    }
}

/* Disabled */
.m-tab.z-dis {
    .tabs_hd {
        > li:not(.z-crt) {
            background: none;
            color: #999;
            border-color: transparent;
        }
    }
}



// Extends:         `m-tabs-center`
// ========================================================================

.m-tabs-center {
    .tabs_hd {
        position: relative;
        float: left;
        left: 50%;

        > li {
            position: relative;
            left: -50%;
        }
    }
}

.m-tabs-left {
    position: relative;

    .tabs_hd {
        position: absolute;
        left: 0;
        width: $m-tabs-vertical_hd_li_width;

        > li {
            float: none;
            border: $m-tabs_hd_li_border-width solid transparent;
            border-right-width: 0;
            margin-bottom: 0;
        }

        > li + li {
            margin-left: 0;
            margin-top: $m-tabs_hd_li_margin;
        }

        > li.z-crt {
            padding-bottom: 0;
            margin-right: -$m-tabs_hd_li_border-width;
        }
    }

    .tabs_bd {
        margin-left: $m-tabs-vertical_hd_li_width;
        min-height: 200px;
        @include border-radius(0 $border-radius-base $border-radius-base 0);
    }
}

.m-tabs-right {
    position: relative;

    .tabs_hd {
        position: absolute;
        right: 0;
        width: $m-tabs-vertical_hd_li_width;

        > li {
            float: none;
            border: $m-tabs_hd_li_border-width solid transparent;
            border-left-width: 0;
            margin-bottom: 0;
        }

        > li + li {
            margin-left: 0;
            margin-top: $m-tabs_hd_li_margin;
        }

        > li.z-crt {
            padding-bottom: 0;
            padding-left: $m-tabs_hd_li_padding-horizontal + 1px;
            margin-left: -$m-tabs_hd_li_border-width;
        }
    }

    .tabs_bd {
        margin-right: $m-tabs-vertical_hd_li_width;
        min-height: 200px;
        @include border-radius($border-radius-base 0 0 $border-radius-base);
    }
}